<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>NPC Generation - For the Amar RPG</title>
</head>

<body bgcolor="#ffffff" text="#000000">
        
<table width="480" border="0" cellspacing="0" cellpadding="2" align="center">
  <tbody>
    <tr>
      <td>         
        <center><h2>Random encounters - for Amar RPG</h2></center>
      </td>
    </tr>     
  </tbody>   
</table>

<table width="800" border="0" cellspacing="0" cellpadding="1"
 align="center" bgcolor="#333333">
  <tbody>
    <tr>
      <td>                  
        <table width="100%" border="0" cellspacing="1" cellpadding="1">
          <tbody>
            <tr><td colspan="16" bgcolor="#666666">
            <table width="100%" border="0" cellspacing="1" cellpadding="2">
              <tbody>
                <tr>
				  <td colspan="16" width="118" bgcolor="#cccccc"><b><%= @day %>: <%= @terrain %></b> (Level mod = <%= $Level %>)</td>
                </tr>
				  <% if @no_encounter %>
                <tr>
				  <td colspan="16" width="118" bgcolor="#ffffff"><b>NO ENCOUNTER</td>
                </tr>
				<% end %>
				<% if not @no_encounter %>
                <tr>
				  <% if @event %>
				  <td colspan="16" bgcolor="#ffffff"><b><input type="text" size="100" name="string" value="<%= @e[0]["string"] %>"</b></td>
				  <% else %>
                  <td colspan="16" bgcolor="#cccccc"><input type="text" size="30" name="enc_attitude" value="<%= @enc_attitude %>"</td>
				  <% end %>
                </tr>
				<% if not @event %>
				<% @enc_number.times do |i| %>
                <tr>
				  <td width="180" bgcolor="#ffffff"><b><input type="text" size="30" name="string" value="<%= @e[i]["string"] %>"</b></td>
                  <td width="40" bgcolor="#cccccc"><b>Lvl</b></td>
				  <td width="40" bgcolor="#ffffff"><input type="text" size="2" name="level" value="<%= @e[i]["level"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>SIZ</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="size" value="<%= @e[i]["size"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>STR</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="strength" value="<%= @e[i]["strength"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>END</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="endurance" value="<%= @e[i]["endurance"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>AWR</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="awareness" value="<%= @e[i]["awareness"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>MAG</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="mag" value="<%= @e[i]["mag"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>Ddg</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="dodge" value="<%= @e[i]["dodge"] %>"</td>
                </tr>
				<% if @e[i]["mag_lore"] %>
                <tr>
				  <td bgcolor="#ffffff"></td>
                  <td colspan="3" align="right" width="40" bgcolor="#cccccc"><b>Magic type</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="5" name="mag_type" value="<%= @e[i]["mag_type"] %>"</td>
                  <td colspan="3" align="right" width="40" bgcolor="#cccccc"><b>Magic lore</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="mag_lore" value="<%= @e[i]["mag_lore"] %>"</td>
                  <td colspan="3" align="right" width="40" bgcolor="#cccccc"><b>Spells</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="spells" value="<%= @e[i]["spells"] %>"</td>
				  <td colspan="2" bgcolor="#cccccc"></td>
                </tr>
				<% end %>
                <tr>
                  <td width="180" bgcolor="#ffffff"><input type="text" style="text-align: right" size="30" name="wpn_name" value="<%= @e[i]["wpn_name"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>Skill</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="wpn_skill" value="<%= @e[i]["wpn_skill"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>Ini</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="wpn_ini" value="<%= @e[i]["wpn_ini"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>Off</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="wpn_off" value="<%= @e[i]["wpn_off"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>Def</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="wpn_def" value="<%= @e[i]["wpn_def"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>Dam</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="wpn_dam" value="<%= @e[i]["wpn_dam"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>AP</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="ap" value="<%= @e[i]["ap"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>BP</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="bp" value="<%= @e[i]["bp"] %>"</td>
                </tr>
				<% if @e[i]["msl_name"] %>
                <tr>
                  <td width="180" bgcolor="#ffffff"><input type="text" style="text-align: right" size="30" name="msl_name" value="<%= @e[i]["msl_name"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>Skill</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="msl_skill" value="<%= @e[i]["msl_skill"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>Off</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="msl_off" value="<%= @e[i]["msl_off"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>Dam</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="msl_dam" value="<%= @e[i]["msl_dam"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>Rng</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="msl_rng" value="<%= @e[i]["msl_rng"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>Stat</b></td>
                  <td width="30" bgcolor="#ffffff"><input type="text" size="2" name="status" value="<%= @e[i]["status"] %>"</td>
                  <td width="40" bgcolor="#cccccc"><b>Note</b></td>
                  <td colspan="5" width="30" bgcolor="#ffffff"><input type="text" size="14" name="msl_rng" value=""</td>
                </tr>
				  <% end %>
                <tr>
				  <td colspan="16" bgcolor="#cccccc"></td>
                </tr>
				<% end %>
				<% end %>
				<% end %>
              </tbody>
            </table>
          </tbody>         
        </table>
      </td>
    </tr> 
  </tbody>   
</table>
<br />
<table width="480" border="0" cellspacing="0" cellpadding="2" align="center">
  <tbody>
    <tr>
      <td align="center"> 
	    <p><button style="width:300px" onclick="location.href = 'saved/encounter.txt';" > Download encounter </button></p>
        <form name="new" method="post" action="/cgi-bin/html_enc_input.rb">
        <input type="submit" style="width:300px" name="new" value=" New random encounter "></form>
	    <p><button style="width:300px" onClick="history.go(0);"> Reload with same values </button></p>
	    <p><button style="width:300px" onclick="location.href = '/amar.html';" > Front page </button></p>
      </td>
    </tr>     
  </tbody>   
</table>
</body>
</html>
