<html>
<head>
<title>NPC Generation - for the Amar RPG</title>
</head>

<body bgcolor="#FFFFFF" text="#000000">
<form name="npc" method="post" action="/cgi-bin/html_npc_output.rb">
  <table width="480" border="0" cellspacing="0" cellpadding="2" align="center">
    <tr>
      <td><center><h2>NPC Generation - for Amar RPG</h2></center></td>
    </tr>
  </table>
  <table width="480" border="0" cellspacing="0" cellpadding="1" align="center" bgcolor="#333333">
    <tr>
      <td>
        <table width="100%" border="0" cellspacing="1" cellpadding="4">
          <tr> 
            <td width="80" bgcolor="#CCCCCC"><b>Name</b></td>
            <td bgcolor="#FFFFFF">
              <input type="text" name="name" size="40">
            </td>
          </tr>
          <tr> 
            <td width="80" bgcolor="#CCCCCC"><b>Type</b></td>
            <td bgcolor="#FFFFFF">
              <select name="type">
                <option value="(Type)">
                (Type)
                </option>
		<% @sorted.each do |item| %>
		  <option><%= item %> 
		<% end %>
                </option>
              </select>
            </td>
          </tr>
          <tr> 
            <td width="80" bgcolor="#CCCCCC"><b>Level</b></td>
            <td bgcolor="#FFFFFF">
              <select name="level">
                <option>(Level)
                <option>1: Untrained 
                <option>2: Trained some
                <option>3: Trained 
                <option>4: Well trained
                <option>5: Master
              </select>
            </td>
          </tr>
          <tr> 
            <td width="80" bgcolor="#CCCCCC"><b>Area</b></td>
            <td bgcolor="#FFFFFF">
              <select name="area">
                <option>(Area)
                <option>Amaronir
                <option>Merisir
                <option>Calaronir
                <option>Feronir
                <option>Alerisir
                <option>Rauinir
                <option>Outskirts
              </select>
            </td>
          </tr>
          <tr> 
            <td width="80" bgcolor="#CCCCCC"><b>Sex</b></td>
            <td bgcolor="#FFFFFF"> 
              <input type="radio" name="sex" value="male">
              male 
              <input type="radio" name="sex" value="female">
              female</td>
          </tr>
          <tr> 
            <td width="80" bgcolor="#CCCCCC"><b>Age</b></td>
            <td bgcolor="#FFFFFF">
              <input type="text" name="age" size="3">
            </td>
          </tr>
          <tr> 
            <td width="80" bgcolor="#CCCCCC"><b>Height</b></td>
            <td bgcolor="#FFFFFF">
              <input type="text" name="height" size="3">
            </td>
          </tr>
          <tr> 
            <td width="80" bgcolor="#CCCCCC"><b>Weight</b></td>
            <td bgcolor="#FFFFFF">
              <input type="text" name="weight" size="3">
            </td>
          </tr>
          <tr> 
            <td width="80" bgcolor="#CCCCCC" valign="top">
            <b>Description</b></td>
            <td bgcolor="#FFFFFF">
	      <textarea cols="40" rows="3" name="description"></textarea>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <p align="center">
    <input type="submit" name="submit" value=" Submit ">
  </p>
</form>
<p><center><button onclick="location.href = '/amar.html';" > Front page </button></center></p>
<p><center><img src="/images/amar_areas.jpg" /></p>
</body>
</html>
