<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>Random town generation - For the Amar RPG</title>
</head>

<body bgcolor="#ffffff" text="#000000">
        
<table width="480" border="0" cellspacing="0" cellpadding="2" align="center">
  <tbody>
    <tr>
      <td>         
        <center><h2>Random town - for the Amar RPG</h2></center>
      </td>
    </tr>     
  </tbody>   
</table>

<table width="800" border="0" cellspacing="0" cellpadding="1"
 align="center" bgcolor="#333333">
  <tbody>
    <tr>
      <td>                  
        <table width="100%" border="0" cellspacing="1" cellpadding="1">
          <tbody>
            <tr><td colspan="16" bgcolor="#666666">
            <table width="100%" border="0" cellspacing="1" cellpadding="2">
              <tbody>
                <tr>
				  <td width="150" bgcolor="#dddddd"><input type="text" style="font-weight: bold; background-color: #dddddd; text-align: center;" size="70" name="house" value="(TOWN NAME)"</td>
                </tr>
                <% @t.each_with_index do |h,i| %>
                <tr>
				  <td width="150" bgcolor="#dddddd"><input type="text" style="font-weight: bold; background-color: #dddddd;" size="70" name="house" value="#<%= i+1 %>: <%= h[0] %>"</td>
                </tr>
                <% h[1..-1].each do |r| %>
                <tr>
                  <td width="40" bgcolor="#ffffff"><input type="text" size="80" name="resident" value="<%= r %>"</td>
                </tr>
                <% end %>
                <tr>
                  <td colspan="16" bgcolor="#888888"></td>
                </tr>
                <% end %>                                                                                                                      
              </tbody>                                                                                                                                         
            </table>
          </tbody>         
        </table>
      </td>
    </tr> 
  </tbody>   
</table>
<br />
<p><img src="/cgi-bin/town.png" width="1000"/></p>
<br />
<table width="480" border="0" cellspacing="0" cellpadding="2" align="center">
  <tbody>
    <tr>
      <td align="center">         
	    <p><button style="width:300px" onclick="location.href = 'town.txt';" > Download generated town </button></p>
        <form name="new" method="post" action="/cgi-bin/html_town_input.rb">
        <input type="submit" style="width:300px" name="new" value=" New random town "></form>
	    <p><button style="width:300px" onClick="history.go(0);"> Reload with same values </button></p>
	    <p><button style="width:300px" onclick="location.href = '/amar.html';" > Front page </button></p>
      </td>
    </tr>     
  </tbody>   
</table>
</body>
</html>
