<html>
<head>
<title>Generate random weather</title>
</head>

<body bgcolor="#FFFFFF" text="#000000">
<form name="npc" method="post" action="/cgi-bin/html_weather_output.rb">
  <table width="600" border="0" cellspacing="0" cellpadding="2" align="center">
    <tr>
      <td><center><h2>Random weather - for Amar RPG</h2></center></td>
    </tr>
    <tr>
	  <td><center><p>Create a month of weather: Choose the month
		("Unspecified" if not in Amar), the weather and wind from the
		previous day and press "Submit".</p></center></td>
    </tr>
	<tr><td></td></tr>
  </table>
  <table width="600" border="0" cellspacing="0" cellpadding="1" align="center" bgcolor="#333333">
    <tr>
      <td>
        <table width="100%" border="0" cellspacing="1" cellpadding="4">
          <tr> 
            <td width="150" bgcolor="#CCCCCC"><b>Month</b></td>
            <td bgcolor="#FFFFFF">
              <select name="month">
				<% $Month.each_with_index do |item,index| %>
				<option><%= "#{index}: #{item}" %> 
				<% end %>
              </select>
            </td>
          </tr>
          <tr> 
            <td width="150" bgcolor="#CCCCCC"><b>Previous weather</b></td>
            <td bgcolor="#FFFFFF">
		    <fieldset id="weather">
			  <table><tr>
				<td><input type="radio" value="1" name="weather" checked="checked"><img src="/images/weather/weather1.gif" alt="<%= $Weather[1] %>" /></td>
				<% 2.upto(20) do |i| %>
				<td><input type="radio" value="<%= i %>" name="weather"><img src="/images/weather/weather<%= i %>.gif" alt="<%= $Weather[i] %>"/></td>
				<% if i%6 == 5 %>
				</tr><tr><td colspan="6"><hr /></td></tr><tr>
				<% end %>
				<% end %>
			  </tr></table>
			</fieldset>
            </td>
          </tr>
          <tr> 
            <td width="150" bgcolor="#CCCCCC"><b>Previous wind</b></td>
            <td bgcolor="#FFFFFF">
		    <fieldset id="wind">
			<table><tr>
				<td><input type="radio" value="1" name="wind" checked="checked"><img src="/images/weather/wind0.gif" /></td>
				<% 1.upto(24) do |i| %>
				<td><input type="radio" value="<%= i %>" name="wind"><img src="/images/weather/wind<%= i %>.gif" /></td>
				<% if i%6 == 5 %>
				</tr><tr><td colspan="6"><hr /></td></tr><tr>
				<% end %>
				<% end %>
			</tr></table>
			</fieldset>
            </td>
          </tr>
          <tr> 
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <p align="center">
    <input type="submit" style="width:300px" name="submit" value=" Submit ">
  </p>
</form>
<p><center><button style="width:300px" onclick="location.href = '/amar.html';" > Front page </button></center></p>
</body>
</html>
