<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Random Name Generator - For the Amar RPG</title>
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<link rel="stylesheet" href="/amar.css">
</head>

<body bgcolor="#ffffff" text="#000000">
        
<table width="480" border="0" cellspacing="0" cellpadding="2" align="center">
  <tbody>
    <tr>
      <td>         
        <center><h2>Random names - for Amar RPG</h2></center>
      </td>
    </tr>     
	<tr><td></td></tr>
    <tr>
      <td>         
        <center><%= @header %></center>
      </td>
    </tr>     
  </tbody>   
</table>

<table width="480" border="1" cellspacing="0" cellpadding="1" align="center" bgcolor="#cccccc">
  <tbody>
    <tr>
      <td>         
        <center><%= @names %></center>
      </td>
    </tr> 
  </tbody>   
</table>

<br />

<table width="480" border="0" cellspacing="0" cellpadding="2" align="center">
  <tbody>
    <tr>
      <td align="center"> 
        <form name="new" method="post" action="/cgi-bin/html_name_input.rb">
        <input type="submit" name="new" value=" New random names " class="pure-button button-names"></form>
	    <p><button class="pure-button button-reload" onClick="history.go(0);"> More of same race </button></p>
	    <p><button class="pure-button button-front" onclick="location.href = '/amar.html';" > Front page </button></p>
      </td>
    </tr>     
  </tbody>   
</table>

</body>

</html>
